.wrapper--text {
  font-size: .875rem;
}
.wrapper--social-mobile {
  height: 3rem;
  width: 16.9375rem;
  display: inline-block;
  line-height: 3rem;
  border-radius: 1.25rem;
  background-color: #399f4a;
  color: #fff;
  font-size: .875rem;
  font-weight: 700;
}
.link--social-mobile {
  text-decoration: none;
  color: var(--black-color);
}
