
.row--menu-row .rowContainer {
  align-items: center;
  justify-content: center;
}
.socialNetworkWrapper--social-icon {
  padding-left: 1rem !important;
}
.footerLayout {
  background-color: var(--white-color);
}
