.flexRowContent--deals {
  justify-content: space-between;
}
.flexRow--container__main {
    padding-top: 5.5rem;
    background-color: var(--primary-color);
}

.flexRow--deals {
  background-color: var(--primary-color) !important;
  max-width: 80%;
  margin: 5rem auto 0 ;
  padding: 0 !important;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 0.313rem;
  padding-top: 0.313rem;
}

.flexCol--icon__container {
    background-color: var(--white-color);
    border-radius: 0.188rem;
    box-shadow: none;
    width: 100%;
}

.flexCol--icon__container:hover {
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
}

.flexRow--promo__banner {
  background-color: var(--primary-color) !important;
  max-width: 80%;
  margin: 1rem auto;
}
.stretchChildrenWidth:hover {
  cursor: pointer;
}

.flexRowContent--promo__banner {
  gap: 1rem;
}

.flexRow--information {
  background-color: var(--primary-color) !important;
  max-width: 80%;
  margin: 0.5rem auto ;
}

.flexRowContent--information {
  justify-content: space-between;
}

.flexRow--information .flexCol {
  align-items: center;
  margin-bottom: 0.313rem;
  padding-top: 0.313rem;
}
.flexRowContent--promo__banner2--mobile{
  width: 80%;
  margin: 0 auto;
  gap: 2rem;
}
.flexRowContent--promo__banner--three{
  width: 80%;
  margin: 0 auto;
  gap: 1rem;
}
.flexRowContent--promo__banner--four{
  width: 80%;
  margin: 0 auto;
  gap: 1rem;
}

/* mobile */
@media (max-width: 1024px) { 
  
  .flexRow--mobile__banner--one{
    background: var(--text-secondary);
  }

  .flexRow--promo__banner {
    max-width: 95%;
    margin: 1rem auto;
  }

  .flexRowContent--promo__banner {
    display: flex;
    flex-wrap: wrap;
    background: var(--white-color);
  }

  .flexRowContent--promo__banner--mobile{
    display: flex;
    gap: 1rem;
    width: 95%;
    margin: 0 auto;
  }

  .imageElement {
    width: 100%;
  }
  .flexRowContent--promo__banner--three {
    width: 95%;
    margin: 0 auto;
    padding-top: 1rem;
  }
  .flexRowContent--promo__banner--four {
    width: 95%;
    margin: 0 auto;
  }

}

