.imageElement--grid-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imageElement--grid-2 {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
@media (max-width: 1024px) {

    .imageElement {
      width: 100%;
      height: 100%;

    }

    .imageElement--grid3-one-mobile {
      height: 130px;
    }

  }
