.container--deals {
    color: var(--black-color) !important;
    text-align: center;
    justify-content: center;
    font-weight: 400;
  }

  .container--deals__title {
    color: var(--text-secondary);
  }