.flexRowContent--main-header {
    background-color: var(--white-color);
    width: 85%;
    height: 6rem;
    margin: 0 auto;
    justify-content: space-around;
}

.flexRow--main-header {
    background-color: var(--white-color);
}

.DesktopSearchBar-module_search-bar__1PiDn {
    width: 35vw;
    border: 0.0625rem solid #f0f0f0;
    padding: 0;
    position: relative;
}

.searchBarContainer .vtex-input-prefix__group {
    width: 35vw;
}

.vtex-store-components-3-x-searchBarContainer .input {
    background: var(--white-color);
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
    color: #333 !important;
    font-size: 0.75rem !important;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
    color: #ffffff;
}

.flexRowContent--menu-link {
    background-color: #f0f0f0 !important;
    color: #333 !important;
}

.flexRowContent--main-header {
    background-color: var(--white-color) !important;
}

.flexRowContent--main-header-mobile {
    height: 3.5rem;
    background: white;
}
